*{
    margin: 0px;
}
body{
    margin:0;
    height:100vh;
    background-image:linear-gradient(150deg,#330d69, #223c3d, #f61e6a);
    background-size: 400% 400%;
    animation: fanimado 7s infinite;
}
img{
margin-top: 150px;
}
h1{
    font-size: 130px;
    font-family: KAVO;
    color:bisque;
    margin: 10px;
    margin-top: 20px;
}
p{
    font-size: 25px;
    font-style: normal;
    font-family: The Natures;
    color: rgb(236, 236, 236);
    margin-top: 30px;
}
@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
